flow_5.json
[
    {
        "id": "2e53d1e8b33dcc90",
        "type": "tab",
        "label": "Flow 5 - Clima por API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42a3225dae0289c4",
        "type": "mqtt in",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "topic": "codigoIoT/mosquitto",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0766c9de1189f420",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "75a72a491f010cec"
            ]
        ]
    },
    {
        "id": "75a72a491f010cec",
        "type": "json",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "8aef6623cf75f3ab",
                "5357906ad04c7da2",
                "66181155da887592"
            ]
        ]
    },
    {
        "id": "8aef6623cf75f3ab",
        "type": "function",
        "z": "2e53d1e8b33dcc90",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "9f1cb43e64d87568",
                "0efc73205dda4824"
            ]
        ]
    },
    {
        "id": "5357906ad04c7da2",
        "type": "function",
        "z": "2e53d1e8b33dcc90",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "975703cf91164a7d",
                "0efc73205dda4824"
            ]
        ]
    },
    {
        "id": "9f1cb43e64d87568",
        "type": "ui_gauge",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "group": "a1fe0367f8f21269",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Temperatura Local",
        "label": "C",
        "format": "{{value}}",
        "min": "-5",
        "max": "38",
        "colors": [
            "#3465a4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "24",
        "className": "",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "975703cf91164a7d",
        "type": "ui_gauge",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "group": "a1fe0367f8f21269",
        "order": 2,
        "width": 6,
        "height": 6,
        "gtype": "wave",
        "title": "Humedad Local",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "927bc78bd5cd6cbb",
        "type": "debug",
        "z": "2e53d1e8b33dcc90",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 540,
        "wires": []
    },
    {
        "id": "66181155da887592",
        "type": "debug",
        "z": "2e53d1e8b33dcc90",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "0efc73205dda4824",
        "type": "ui_chart",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "group": "a1fe0367f8f21269",
        "order": 3,
        "width": 12,
        "height": 6,
        "label": "Historico Local",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d987d0e4276a0bf7",
        "type": "json",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "e42591d696655179",
                "ebb68bb42ea3f529"
            ]
        ]
    },
    {
        "id": "e42591d696655179",
        "type": "function",
        "z": "2e53d1e8b33dcc90",
        "name": "Temperatura API",
        "func": "global.set(\"tempAPI\", msg.payload.main.temp);\nmsg.payload = msg.payload.main.temp;\nmsg.topic = \"Temperatura\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 400,
        "wires": [
            [
                "f49504740b90aaa2",
                "cf5d46481b10c207"
            ]
        ]
    },
    {
        "id": "ebb68bb42ea3f529",
        "type": "function",
        "z": "2e53d1e8b33dcc90",
        "name": "Humedad API",
        "func": "msg.payload = msg.payload.main.humidity;\nglobal.set(\"humAPI\", msg.payload);\nmsg.topic = \"Humedad\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 480,
        "wires": [
            [
                "0b40a9054c03f4a2",
                "cf5d46481b10c207"
            ]
        ]
    },
    {
        "id": "f49504740b90aaa2",
        "type": "ui_gauge",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "group": "455f96454d8e60f6",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Temperatura API",
        "label": "C",
        "format": "{{value}}",
        "min": "-5",
        "max": "38",
        "colors": [
            "#3465a4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "24",
        "className": "",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "0b40a9054c03f4a2",
        "type": "ui_gauge",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "group": "455f96454d8e60f6",
        "order": 3,
        "width": 5,
        "height": 6,
        "gtype": "wave",
        "title": "Humedad API",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "cf5d46481b10c207",
        "type": "ui_chart",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "group": "455f96454d8e60f6",
        "order": 9,
        "width": 12,
        "height": 6,
        "label": "Historico API",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "81075463cebb8466",
        "type": "comment",
        "z": "2e53d1e8b33dcc90",
        "name": "API",
        "info": "",
        "x": 110,
        "y": 340,
        "wires": []
    },
    {
        "id": "6a6a792ffa49a94b",
        "type": "comment",
        "z": "2e53d1e8b33dcc90",
        "name": "MQTT",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "a0cc7b19407cf2a5",
        "type": "inject",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "8f2f8979be3427b6"
            ]
        ]
    },
    {
        "id": "8f2f8979be3427b6",
        "type": "http request",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=19.291938&lon=-99.653743&appid=fa19b6369b2047cb694b0f3e3b2af21a&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "d987d0e4276a0bf7",
                "927bc78bd5cd6cbb"
            ]
        ]
    },
    {
        "id": "f6b341b510582f5f",
        "type": "inject",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "b9c912888ca6de59"
            ]
        ]
    },
    {
        "id": "b9c912888ca6de59",
        "type": "function",
        "z": "2e53d1e8b33dcc90",
        "name": "JSON Público",
        "func": "msg.payload = '{\"id\":\"Raul Vargas, Toluca\",\"temp\":' + global.get(\"tempAPI\") + ',\"hum\":' + global.get(\"humAPI\") + '}';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 640,
        "wires": [
            [
                "3f325f3b02de0f7a"
            ]
        ]
    },
    {
        "id": "3f325f3b02de0f7a",
        "type": "mqtt out",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41189cd47dccab9a",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "b2cace80a5942ad7",
        "type": "comment",
        "z": "2e53d1e8b33dcc90",
        "name": "Enviador",
        "info": "",
        "x": 120,
        "y": 580,
        "wires": []
    },
    {
        "id": "bf3ed98082c8184b",
        "type": "comment",
        "z": "2e53d1e8b33dcc90",
        "name": "Escuchador",
        "info": "",
        "x": 130,
        "y": 720,
        "wires": []
    },
    {
        "id": "7454002ff110aada",
        "type": "mqtt in",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41189cd47dccab9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "d1efa3b86ce517ab"
            ]
        ]
    },
    {
        "id": "d1efa3b86ce517ab",
        "type": "json",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "f75c177bd2d071a7",
                "71f27842866f3e0b"
            ]
        ]
    },
    {
        "id": "f75c177bd2d071a7",
        "type": "function",
        "z": "2e53d1e8b33dcc90",
        "name": "Temperatura Pública API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 780,
        "wires": [
            [
                "8bd05e9cd6ac29d2",
                "66a06c04456f06fc"
            ]
        ]
    },
    {
        "id": "71f27842866f3e0b",
        "type": "function",
        "z": "2e53d1e8b33dcc90",
        "name": "Humedad Pública API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nmsg.topic = \"humedad\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 840,
        "wires": [
            [
                "b5d35d8ea872debf",
                "f93e87743ed0aa45"
            ]
        ]
    },
    {
        "id": "8bd05e9cd6ac29d2",
        "type": "ui_chart",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "group": "e5748b15c5cc660a",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Temperatura Pública",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-5",
        "ymax": "38",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "b5d35d8ea872debf",
        "type": "ui_chart",
        "z": "2e53d1e8b33dcc90",
        "name": "",
        "group": "e5748b15c5cc660a",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Humedad Pública",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "f93e87743ed0aa45",
        "type": "debug",
        "z": "2e53d1e8b33dcc90",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 920,
        "wires": []
    },
    {
        "id": "66a06c04456f06fc",
        "type": "debug",
        "z": "2e53d1e8b33dcc90",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "f880b3b7224bdc7c",
        "type": "ui_spacer",
        "z": "2e53d1e8b33dcc90",
        "name": "spacer",
        "group": "455f96454d8e60f6",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "de770a563d752e2e",
        "type": "ui_spacer",
        "z": "2e53d1e8b33dcc90",
        "name": "spacer",
        "group": "455f96454d8e60f6",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "0629e228e4d60e65",
        "type": "ui_spacer",
        "z": "2e53d1e8b33dcc90",
        "name": "spacer",
        "group": "455f96454d8e60f6",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "372f676a3572a8e2",
        "type": "ui_spacer",
        "z": "2e53d1e8b33dcc90",
        "name": "spacer",
        "group": "455f96454d8e60f6",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "24dfe7879a2030c4",
        "type": "ui_spacer",
        "z": "2e53d1e8b33dcc90",
        "name": "spacer",
        "group": "455f96454d8e60f6",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "dc4343160afa56cb",
        "type": "ui_spacer",
        "z": "2e53d1e8b33dcc90",
        "name": "spacer",
        "group": "455f96454d8e60f6",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "0766c9de1189f420",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a1fe0367f8f21269",
        "type": "ui_group",
        "name": "Lecturas Locales MQTT",
        "tab": "1f973b43d646718d",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "455f96454d8e60f6",
        "type": "ui_group",
        "name": "Lecturas API",
        "tab": "1f973b43d646718d",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "41189cd47dccab9a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.156.177.225",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e5748b15c5cc660a",
        "type": "ui_group",
        "name": "Historicos públicos",
        "tab": "1f973b43d646718d",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f973b43d646718d",
        "type": "ui_tab",
        "name": "Flow 5 - API",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]